In [2]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("./Dataset/IRAhandle_tweets_1.csv", sep=",", header=None)
df2 = pd.read_csv("./Dataset/IRAhandle_tweets_2.csv", sep=",", header=None)
df3 = pd.read_csv("./Dataset/IRAhandle_tweets_3.csv", sep=",", header=None)
df4 = pd.read_csv("./Dataset/IRAhandle_tweets_4.csv", sep=",", header=None)
df5 = pd.read_csv("./Dataset/IRAhandle_tweets_5.csv", sep=",", header=None)
df6 = pd.read_csv("./Dataset/IRAhandle_tweets_6.csv", sep=",", header=None)
df7 = pd.read_csv("./Dataset/IRAhandle_tweets_7.csv", sep=",", header=None)

C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:1: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Dataset/IRAhandle_tweets_1.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:2: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("./Dataset/IRAhandle_tweets_2.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:3: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("./Dataset/IRAhandle_tweets_3.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:4: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("./Dataset/IRAhandle_tweets_4.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:5: DtypeWarning: Columns (0,7,8,9,12,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("./Dataset/IRAhandle_tweets_5.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:6: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv("./Dataset/IRAhandle_tweets_6.csv", sep=",", header=None)
C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\358566608.py:7: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv("./Dataset/IRAhandle_tweets_7.csv", sep=",", header=None)

In [33]:
print(df[13].unique())

['account_category' 'RightTroll' 'NonEnglish' 'Fearmonger' 'LeftTroll'
 'Unknown' 'HashtagGamer' 'NewsFeed' 'Commercial']

In [43]:
df_osef = pd.read_csv("./Dataset/IRAhandle_tweets_1.csv", sep=",", header=None)
df_osef

C:\Users\Jean\AppData\Local\Temp\ipykernel_60492\1257167942.py:1: DtypeWarning: Columns (0,7,8,9,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_osef = pd.read_csv("./Dataset/IRAhandle_tweets_1.csv", sep=",", header=None)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
1,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
2,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
3,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
4,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243887,2497991305,AUSTINLOVESBEER,BREAKING: Killer avalanche sweeps three skiers...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,173,...,Right,1,RightTroll,0,2497991305,839400198002503680,http://twitter.com/2497991305/statuses/8394001...,https://twitter.com/Daily_Star/status/83938477...,http://bit.ly/2lWNDnt,NaN
243888,2497991305,AUSTINLOVESBEER,Why men should support International Women’s D...,United States,English,3/8/2017 8:59,3/8/2017 9:00,41,34,175,...,Right,1,RightTroll,0,2497991305,839400290168135680,http://twitter.com/2497991305/statuses/8394002...,http://trib.al/xiMs3md,NaN,NaN
243889,2497991305,AUSTINLOVESBEER,How we can rebuild trust in a UK divided by in...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,170,...,Right,1,RightTroll,0,2497991305,839400090582179840,http://twitter.com/2497991305/statuses/8394000...,http://trib.al/l3iyCVF,NaN,NaN
243890,2497991305,AUSTINLOVESBEER,John Humphrys accused of patronising Angela Ra...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,171,...,Right,1,RightTroll,0,2497991305,839400131325648896,http://twitter.com/2497991305/statuses/8394001...,http://bit.ly/2m0OQL7,NaN,NaN
243891,2497991305,AUSTINLOVESBEER,Fossilized poop found in 180-million-year-old ...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,174,...,Right,1,RightTroll,0,2497991305,839400253413437440,http://twitter.com/2497991305/statuses/8394002...,http://dailym.ai/2lV5BXf,NaN,NaN

In [35]:
indices1_1 = df[df[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices1_2 = df[df[13] == "LeftTroll"]
indices1_3 = df[df[13] == "Fearmonger"]
indices1_4 = df[df[13] == "NewsFeed"]
indices1_5 = df[df[13] == "Commercial"]
indices1_6 = df[df[13] == "HashtagGamer"]

indices2_1 = df2[df2[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices2_2 = df2[df2[13] == "LeftTroll"]
indices2_3 = df2[df2[13] == "Fearmonger"]
indices2_4 = df2[df2[13] == "NewsFeed"]
indices2_5 = df2[df2[13] == "Commercial"]
indices2_6 = df2[df2[13] == "HashtagGamer"]

indices3_1 = df3[df3[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices3_2 = df3[df3[13] == "LeftTroll"]
indices3_3 = df3[df3[13] == "Fearmonger"]
indices3_4 = df3[df3[13] == "NewsFeed"]
indices3_5 = df3[df3[13] == "Commercial"]
indices3_6 = df3[df3[13] == "HashtagGamer"]

indices4_1 = df4[df4[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices4_2 = df4[df4[13] == "LeftTroll"]
indices4_3 = df4[df4[13] == "Fearmonger"]
indices4_4 = df4[df4[13] == "NewsFeed"]
indices4_5 = df4[df4[13] == "Commercial"]
indices4_6 = df4[df4[13] == "HashtagGamer"]

indices5_1 = df5[df5[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices5_2 = df5[df5[13] == "LeftTroll"]
indices5_3 = df5[df5[13] == "Fearmonger"]
indices5_4 = df5[df5[13] == "NewsFeed"]
indices5_5 = df5[df5[13] == "Commercial"]
indices5_6 = df5[df5[13] == "HashtagGamer"]

indices6_1 = df6[df6[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices6_2 = df6[df6[13] == "LeftTroll"]
indices6_3 = df6[df6[13] == "Fearmonger"]
indices6_4 = df6[df6[13] == "NewsFeed"]
indices6_5 = df6[df6[13] == "Commercial"]
indices6_6 = df6[df6[13] == "HashtagGamer"]

indices7_1 = df7[df7[13] == "RightTroll"]# or df[13] == "LeftTroll" or df[13] == "Fearmonger"]
indices7_2 = df7[df7[13] == "LeftTroll"]
indices7_3 = df7[df7[13] == "Fearmonger"]
indices7_4 = df7[df7[13] == "NewsFeed"]
indices7_5 = df7[df7[13] == "Commercial"]
indices7_6 = df7[df7[13] == "HashtagGamer"]



df_filtered1 = pd.concat([indices1_1, indices1_2, indices1_3, indices1_4, indices1_5, indices1_6], ignore_index=True)
df_filtered2 = pd.concat([indices2_1, indices2_2, indices2_3, indices2_4, indices2_5, indices2_6], ignore_index=True)
df_filtered3 = pd.concat([indices3_1, indices3_2, indices3_3, indices3_4, indices3_5, indices3_6], ignore_index=True)
df_filtered4 = pd.concat([indices4_1, indices4_2, indices4_3, indices4_4, indices4_5, indices4_6], ignore_index=True)
df_filtered5 = pd.concat([indices5_1, indices5_2, indices5_3, indices5_4, indices5_5, indices5_6], ignore_index=True)
df_filtered6 = pd.concat([indices6_1, indices6_2, indices6_3, indices6_4, indices6_5, indices6_6], ignore_index=True)
df_filtered7 = pd.concat([indices7_1, indices7_2, indices7_3, indices7_4, indices7_5, indices7_6], ignore_index=True)

In [9]:
print(len(df_filtered1))
print(len(df))

151266
243892

In [36]:
import matplotlib.pyplot as plt

df_filtered1["date"] = pd.to_datetime(df_filtered1[5], format="mixed")
df_filtered2["date"] = pd.to_datetime(df_filtered2[5], format="mixed")
df_filtered3["date"] = pd.to_datetime(df_filtered3[5], format="mixed")
df_filtered4["date"] = pd.to_datetime(df_filtered4[5], format="mixed")
df_filtered5["date"] = pd.to_datetime(df_filtered5[5], format="mixed")
df_filtered6["date"] = pd.to_datetime(df_filtered6[5], format="mixed")
df_filtered7["date"] = pd.to_datetime(df_filtered7[5], format="mixed")

In [37]:
df_filtered1["week"] = df_filtered1["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts1 = df_filtered1.groupby("week").size()

df_filtered2["week"] = df_filtered2["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts2 = df_filtered2.groupby("week").size()

df_filtered3["week"] = df_filtered3["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts3 = df_filtered3.groupby("week").size()

df_filtered4["week"] = df_filtered4["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts4 = df_filtered4.groupby("week").size()

df_filtered5["week"] = df_filtered5["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts5 = df_filtered5.groupby("week").size()

df_filtered6["week"] = df_filtered6["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts6 = df_filtered6.groupby("week").size()

df_filtered7["week"] = df_filtered7["date"].dt.strftime("%Y-%U")  # Format "YYYY-WW"
weekly_counts7 = df_filtered7.groupby("week").size()


"""
plt.figure(figsize=(12, 6))
weekly_counts.plot(kind="bar", color="steelblue")
plt.xlabel("Semaine")
plt.ylabel("Nombre d'entrées")
plt.title("Nombre d'entrées par semaine pour RightTroll")
plt.xticks(rotation=45)
plt.show() 
"""

'\nplt.figure(figsize=(12, 6))\nweekly_counts.plot(kind="bar", color="steelblue")\nplt.xlabel("Semaine")\nplt.ylabel("Nombre d\'entrées")\nplt.title("Nombre d\'entrées par semaine pour RightTroll")\nplt.xticks(rotation=45)\nplt.show() \n'

In [38]:
weekly_counts_global = pd.concat([weekly_counts1, weekly_counts2, weekly_counts3, weekly_counts4, weekly_counts5, weekly_counts6, weekly_counts7], axis=1)
weekly_counts_global

            0      1      2      3      4      5      6
week
2014-47  72.0  342.0    NaN  438.0    NaN  194.0  690.0
2014-48  31.0  339.0    5.0  339.0    NaN   39.0  790.0
2014-49  38.0  116.0  117.0   47.0  109.0   69.0   80.0
2014-50   3.0  158.0  164.0   85.0    NaN  140.0   21.0
2014-51   2.0   92.0   53.0   71.0    1.0  143.0   91.0
...       ...    ...    ...    ...    ...    ...    ...
2018-16   NaN    NaN    NaN    NaN    NaN    NaN  107.0
2018-17   NaN    NaN    NaN    NaN    NaN    NaN  114.0
2018-18   NaN    NaN    NaN    NaN    NaN    NaN   94.0
2018-20   NaN    NaN    NaN    NaN    NaN    NaN   39.0
2018-21   NaN    NaN    NaN    NaN    NaN    NaN   15.0

[235 rows x 7 columns]

In [39]:
#order by week 
weekly_counts_global = weekly_counts_global.sort_index()

In [40]:
weekly_counts_global_sum = weekly_counts_global.sum(axis=1)
#replace nan with 0
weekly_counts_global_sum = weekly_counts_global_sum.fillna(0)

In [41]:
weekly_counts_global_sum
df = pd.DataFrame(weekly_counts_global_sum)
df.to_csv("./assignement2-app/public/assets/hist4.csv", sep=",", index=True)